<%= form_with(model: task, html: { autocomplete: "off" }) do |form| %>
  <% if notice.present? %>
    <p>
      <%= notice %>
    </p>
  <% end %>
  <div>
    <%= form.text_field :description, style: "margin-bottom: 0px", placeholder: "(A) I'm planning to @context +project" %>
  </div>
<% end %>