<%= form_tag tasks_path, :method => 'get', html: { autocomplete: "off" } do %>
  <p>
    <%= text_field_tag :q, params[:q], placeholder: "I'm searching for..." %>
    <%= submit_tag "Search", :q => nil %>
  </p>
<% end %>

