<div class="w9 margin-auto">
  <h2 style="display: inline-block">Tasklog</h2>
  <div style="display: inline-block; width: 100%; text-align: right;">
    <%= link_to "Purge completed", purge_path %>
  </div>
</div>
<div data-controller="tasks" class="tasks w9">
  <% if completed(@tasks).present? %>
    <%= render completed(@tasks) %>
  <% else %>
    <div class="nothing-here">
      <p>Your tasklog is clear.</p>
    </div>
  <% end %>
</div>