<div class="w9 margin-auto">
  <div class="icon"><%= image_tag asset_path('logo.svg') %></div>
  <div class="logo">
    <h1><a href="/" class="title">emrld.txt</a></h1>
  </div>
  <div class="toolbar">
    <ul>
      <li>
        <%= link_to "Import/Batch Add", import_path %>
      </li>
      <li>
        <%= link_to "Export", export_path %>
      </li>
      <li>
        <%= link_to "Tasklog", tasklog_path %>
      </li>
    </ul>
  </div>
</div>