<div class="w9 margin-auto">
  <div class="icon"><%= image_tag asset_path('logo.svg') %></div>
  <div class="logo">
    <h1><a href="/" class="title">emrld.txt</a></h1>
  </div>
  <span class="version">0.1.0</span>
  <div class="toolbar">
    <ul>
      <li>
        <a href="/">Import/Batch Add</a>
      </li>
      <li>
        <a href="/">Export</a>
      </li>
      <li>
        <%= link_to "Tasklog", tasklog_path %>
      </li>
    </ul>
  </div>
</div>